<template name="myJobs">
  {{>employerNav}}
  <nav class="navbar-myJobs" role="navigation">
    <div class="container-fluid">

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar">
        <!-- <ul class="nav navbar-nav">
          <li class="active"><a href="{{ pathFor 'home' }}">Sezonci</a></li>
        </ul> -->
        <ul class="nav navbar-nav navbar-myJobs">
          <li><a href="{{pathFor 'activeJobs'}}">AKTIVNI OGLASI</a></li>
          <li><a href="{{pathFor 'unactiveJobs'}}">NEAKTIVNI OGLASI</a></li>
          <li><a href="{{pathFor 'expiredJobs'}}">ISTEKLI OGLASI</a></li>
          </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  {{>yield}}

</template>
